<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/41bd385311.js" crossorigin="anonymous"></script>
    <title>Document</title>
  </head>
  <body>
    <footer th:fragment="footer" class="footer">
        <script src="https://kit.fontawesome.com/41bd385311.js" crossorigin="anonymous"></script>
        <div class="content has-text-centered">
            <p>
                Created with <span class="icon has-text-danger"><i class="fa-regular fa-heart"></i></span> by CPIFP Málaga
                TechPark
              </p>
          <!--<a href="https://www.flaticon.com/free-icons/park" title="park icons">Park icons created by Freepik - Flaticon</a>-->
        </div>
      </footer>
  </body>
</html>